
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  form label {
    display: block;
    margin: 10px 0;
  }
  
  form input[type="text"],
  form input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  form input[type="checkbox"] {
    margin-left: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 1em;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  .selectState{
    width: 22em;
    height: 2.3em;
    border-radius: 1em;
  }