#root {
  --MainBlue: #1C68C6;
  --MainHover:#00EFE6;
  --MainWhite:  #ffffff;
  --MainActive:  #021b35;
  --SecondBlue: #00ABEF;
  --DarkBlue: #0048BA; 
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.welcomeMessage{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.welcomeMessage h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: var(--MainBlue);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.welcomeMessage p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.section1 {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
}

.bg-light-blue {
  background-color: #e2e8f0;
  border-radius: 2em;
}

.chart {
  background-color: #e2e8f0;
  padding: 20px;
  border-radius: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1; 
}

.contentMain {
  padding: 1em;
  background-color: #ffffff;
}

.container{
  padding: 20px;
}
