#root {
  --MainBlue: #1C68C6;
  --MainHover:#00EFE6;
  --MainWhite:  #ffffff;
  --MainActive:  #021b35;
  --SecondBlue: #00ABEF;
  --DarkBlue: #0048BA; 
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.welcome-image {
  width: 30%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.welcome-message{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-message h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: var(--MainBlue);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.welcome-message p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.section1 {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
}

.bg-light-gray {
  background-color: #e6e2e2;
}

.bg-light-blue {
  background-color: #ccd5e1;
}

.chart {
  background-color: #ccd5e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1; 
}

.contentMain {
  padding: 1em;
  background-color: #ffffff;
}

.container{
  padding: 20px;
}
