
.modalOverlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10000;

  }
  
  .modalContent1 {
    background-color: var(--MainWhite);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000033;
    font-weight: lighter;
    color: var(--MainActive);
  }
  
  .modalTitle1 {
    font-weight: lighter;
    color: var(--MainBlue);
    margin-top: -10px;
    margin-bottom: 7px;
  }
  
  .modalCloseBtn1 {
    color: var(--MainWhite);  
    border: none; 
    cursor: pointer; 
    font-weight: lighter;
    background-color: #ef6868;
    border-radius: 1.25em; 
    font-size: 1em;
    padding: 0.5em 1.875em; 
    height: 2.5em; 
  }
  
  .modalCloseBtn1:hover {
    background-color: #eb1616;
    color: var(--MainWhite);
  }

  .modalCloseBtn1:active{
    background-color: #a30707;
    color: var(--MainWhite);
  }

  .modalIcon1{
    width: 30%;
  }
  