.chartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  padding: 20px;
  justify-content: center;
}

.chartItem {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  margin-top: 3em;
}

.chartItem h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #1C68C6;
}

@media (max-width: 768px) {
  .chartContainer {
    padding: 10px;
  }

  .chartItem {
    width: 100%;
  }
}
