.dynamicTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;    margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;

}

.dynamicTable th,
.dynamicTable td {
  border: none;
  padding: 12px 15px;
}

.dynamicTable th {
  background-color: #dbdcdf;
  color: var(--MainActive);
  font-weight: lighter;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 2;
}

.dynamicTable tbody tr {
  transition: background-color 0.3s ease;
  
}

.bg-blue{
  background-color: #c6d9ef;
  color: #007bff;
}

.dynamicTable tbody tr:hover {
  color: var(--MainBlue);
}

.dynamicTable td {
  background-color: #f8f8f8;
}

.dynamicTable td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dynamicTable td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dynamicTable th:first-child {
  border-top-left-radius: 10px;
}

.dynamicTable th:last-child {
  border-top-right-radius: 10px;
}

.actionIcon {
  cursor: pointer;
  margin: 0 5px;
  transition: color 0.3s ease;
  font-size: 20px;
}

.editIcon {
  color: #e67c11;
  font-size: 1.5em;
}

.deleteIcon {
  color: red;
  font-size: 1.5em;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}


.recordsPerPage {
  display: flex;
  align-items: center;
}

.recordsPerPage select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
  color: #007bff;
}

.recordsPerPage select:hover {
  border-color: var(--MainBlue);
}

.recordsPerPage select:focus {
  outline: none;
  border-color: var(--MainBlue);
}


.searchIcon {
  margin-left: 1em;
  cursor: pointer;
  color: var(--MainBlue);
}

.searchInput {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}

.searchInput:focus {
  outline: none;
  border-color: var(--MainBlue);
}

.custom-pagination-item {
  border-radius: 1em;
  margin: 0 2px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-pagination-item:hover {
  background-color: #007bff;
  color: white;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color:#007bff;
  color: white;
}

.pagination .page-link {
  border-radius: 1em !important;
}

.pagination .page-item.disabled .page-link {
  border-radius: 1em !important;
  background-color: #e9ecef;
  color: #6c757d;
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c12222;
  transition: 0.4s;
  border-radius: 34px;
  width: 4em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1cb105;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider::after {
  content: 'Off';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 71%;
  font-size: 14px;
}


input:checked + .slider::after {
  content: 'On';
  left: 28%;
}